In [1]:
import numpy as np
import pandas as pd

In [36]:
df = pd.read_csv('data/2015.csv')

In [37]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [38]:
type(df)

pandas.core.frame.DataFrame

In [39]:
df[["Country","Region"]]

         Country                           Region
0    Switzerland                   Western Europe
1        Iceland                   Western Europe
2        Denmark                   Western Europe
3         Norway                   Western Europe
4         Canada                    North America
..           ...                              ...
153       Rwanda               Sub-Saharan Africa
154        Benin               Sub-Saharan Africa
155        Syria  Middle East and Northern Africa
156      Burundi               Sub-Saharan Africa
157         Togo               Sub-Saharan Africa

[158 rows x 2 columns]

In [46]:
df1 = df.head()
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [41]:
df1[["Generosity"]]

   Generosity
0     0.29678
1     0.43630
2     0.34139
3     0.34699
4     0.45811

In [42]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Standard Error, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [43]:
df1[:1]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738

In [51]:
df1.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,0.90563,0.63297,0.32957,0.45811,2.45176

In [50]:
df1.drop(columns=["Family"],axis=1, inplace=True)

KeyError: "['Family'] not found in axis"

In [52]:
df1.drop(2,axis=0)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,0.94784,0.62877,0.14145,0.43630,2.70201
3,Norway,Western Europe,4,7.522,0.03880,1.45900,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,0.90563,0.63297,0.32957,0.45811,2.45176

In [49]:
df1.iloc[:, 2:14]

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,1,7.587,0.03411,1.39651,0.94143,0.66557,0.41978,0.29678,2.51738
1,2,7.561,0.04884,1.30232,0.94784,0.62877,0.14145,0.43630,2.70201
2,3,7.527,0.03328,1.32548,0.87464,0.64938,0.48357,0.34139,2.49204
3,4,7.522,0.03880,1.45900,0.88521,0.66973,0.36503,0.34699,2.46531
4,5,7.427,0.03553,1.32629,0.90563,0.63297,0.32957,0.45811,2.45176

In [23]:
df1.loc[1,"Freedom"]

0.62877